<!--
1. Search bar
2. Featured/popular movies
3. Short intro
 -->

<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

    <body>
        <h1 class="---bs-info-rgb text-white text-center p-3 m-0"> Movie Finder </h1>
        <%-include('partials/navbar.ejs') %>
    </body>

</html>