<!-- 
1. Poster, overview, genres, release date
2. Trailer or extra data from second API
3. Form to add review/rating/watch status -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>